* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
}

header {
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.top-header {
    display: flex;
    background-color: #2d4059;
    gap: 30px;
    padding: 0 30px;
}

.logo, .nav, .social {
    background-color: #e95555;
    margin: 30px 0;
    height: 50px;
}

.logo, .social {
    flex-grow: 1;
}

.nav {
    flex-grow: 4;
}

.header-banner {
    display: flex;
    justify-content: center;
    background-color: #ff8b00;
}

.banner {
    height: 80px;
    width: 100%;
    margin: 30px;
    background-color: #ffd604;
}